/* Navbar general */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
   height: 70px;
 
    max-height: 85px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px -4px 8px rgba(0, 0, 0, 0.3);

}

/* Logo */
.linksLeft {
  display: flex;
  align-items: center;
  /* background-color: pink; */
}

.navlinkImage {
  height: 40px;
  width: auto;
  position: sticky;

}

/* Menú principal (desktop) */
.linksRight {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Dropdown container */
.dropdownContainer {
  position: relative;
}

.dropdown {
  position: absolute;
  top:  35px;
  /* bottom: 10px; */
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 50;
}

/* Menú hamburguesa */
.hamburgerIcon {
  display: none;
  cursor: pointer;
}

.hamburgerIconImage {
  width: 30px;
  height: auto;
}

/* Menú móvil */
.mobileDropdown {
  position: fixed;
  top: 60px;
  right: 0;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 100;
}

/* Links */
.navlink {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navlink:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Responsivo */
.desktopOnly {
  display: flex;
}

.mobileOnly {
  display: none;
}

/* @media (max-width: 1024px) {
  .desktopOnly {
    display: none ;
  }

  .mobileOnly {
    display: flex 
  }

  .dropdown {
    display: none;   
  }

  .hamburgerIcon{
    display: block;
    position: relatives;
    right: -1000px;
    /* width: 1000px;  
  }
  .hamburgerIconImage{
    width: 30px;
  }
} */

@media (max-width: 1024px) {

  .navbar{
      min-height: 50px;
  }

  .linksRight {
    display: none;  
  }
  .linksLeft{
    /* background-color: red; */
    position: fixed;
    left: 15px;
  }
  .hamburgerIcon {
    display: block;  
    position: fixed;
    right: 30px;
  }

  /* .mobileDropdown{
    display: flex;
    position: relative
    ;
    top:200px;
    left:575px;

    background-color: blue;
    width: 150px;
    border: 1px solid gray;
  } */

}

@media (max-width: 768px) {
 

  .mobileDropdown{
    /* display: flex; */
    /* position: absolute; */
    /* left:575px; */
    /* background-color: blue; */
    /* width: 150px; */
    /* border: 1px solid gray; */
  }

}
